/* <uniquifier>: Use a unique and descriptive class name */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* MAIN */
body {
    width: 100%;
    background-color: #E5E5E5;
}

main {
    display: flex;
}

.para_encriptar {
    margin: 50px 50px 0px 50px;  
    width: 950px;
}

.para_encriptar textarea{
    width: 800px;
    height: 450px;
    font-size: 20px;
    color: #0A3871;
    padding-top: 15px;
    font-family: 'Inter', sans-serif;
}

#txt_encriptar {
    margin-top: 20px;
}

#txt_encriptar {
    background-color: #ececec;
    border: none;
    padding-top: 20px;
    padding-left: 150px;
}

.p_para_encriptar {
    font-size: 12px;
    color: #45565F;
    margin-left: 130px;
}

.p_para_encriptar img {
    width: 1.5%;
}

.buttons {
    margin: 10px 0px 0px 130px;
}

.buttonED {
    width: 210px;
    height: 45px;
    border-radius: 15px;
    border: none;
    background-color: #0A3871;
    color: white;
    font-size: 11px;
}

#desencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
    margin-left: 15px;
    border-width: 1px;
    border-color: #0A3871;
    border-style: solid;
}

.encriptado {
    width: 350px;
    height: 660px;
    background-color: white;
    border-radius: 20px;
    margin-top: 50px;
}

.encriptado img {
    width: 70%;
    padding-left: 50px;
    margin-top: 180px;
}

.encriptado .noEncontrado {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #343A40;
    margin-top: 20px;
}

.encriptado .ingreseTexto {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    color: #495057;
    margin-top: 20px;
}

.pEncriptado {
    width: 310px;
    height: 550px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: #495057;
    border-radius: 20px;
}

#copiarBtn {
    background-color: #D8DFE8;
    color: #0A3871;
    margin-top: 20px;
    margin-left: 75px;
    border-width: 1px;
    border-color: #0A3871;
    border-style: solid;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #0A3871;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 16px;
}

/* MEDIA QUERIES */
@MEDIA (MAX-WIDTH: 900PX) {
    /* MAIN */
    body {
        width: 900px;
        background-color: #E5E5E5;
    }
  
    main {
        display: block;
    }
 
    .para_encriptar {
        margin: 40px 0px 0px 25px;
        width: 100%;
    }
  
    #txt_encriptar{
        width: 80%;
        height: 400px;
        font-size: 15px;
    }
  
    .p_para_encriptar {
        margin-top: 10px;
        margin-left: 90px;
    }

    .buttons {
        margin: 25px 0px 0px 180px;
    }
  
    .buttonED {
        width: 190px;
        height: 45px;
        font-size: 12px;
    }
  
    #desencriptar {
        margin-left: 20px;
    }
  
    .encriptado {
        width: 97%;
        height: 315px;
        margin-left: 25px;
    }
  
    .encriptado img {
        width: 0%;
        margin-top: 0px;
    }
  
    .encriptado .noEncontrado {
        font-size: 25px;
        margin-top: 20px;
    }

    .encriptado .ingreseTexto {
        font-size: 15px;
        margin-top: 20px;
    }

    .pEncriptado {
        width: 95%;
        height: 225px;
        padding-top: 20px;
        font-size: 16px;
    }

    #copiarBtn {
        width: 90%;
        margin-top: 15px;
        margin-left: 60px;
        border-width: 1px;
    }

    /* FOOTER */
    footer {
        width: 100%;
    }
}

/* 700 */
/* MEDIA QUERIES */
@MEDIA (MAX-WIDTH: 700PX) {
    /* MAIN */
    body {
        width: 700px;
        background-color: #E5E5E5;
    }
  
    main {
        display: block;
    }
 
    .para_encriptar {
        margin: 40px 0px 0px 25px;
        width: 100%;
    }
  
    #txt_encriptar{
        width: 80%;
        height: 400px;
        font-size: 15px;
    }
  
    .p_para_encriptar {
        margin-top: 10px;
        margin-left: 90px;
    }

    .buttons {
        margin: 25px 0px 0px 180px;
    }
  
    .buttonED {
        width: 190px;
        height: 45px;
        font-size: 12px;
    }
  
    #desencriptar {
        margin-left: 20px;
    }
  
    .encriptado {
        width: 97%;
        height: 315px;
        margin-left: 25px;
    }
  
    .encriptado img {
        width: 0%;
        margin-top: 0px;
    }
  
    .encriptado .noEncontrado {
        font-size: 25px;
        margin-top: 20px;
    }

    .encriptado .ingreseTexto {
        font-size: 15px;
        margin-top: 20px;
    }

    .pEncriptado {
        width: 95%;
        height: 225px;
        padding-top: 20px;
        font-size: 16px;
    }

    #copiarBtn {
        width: 90%;
        margin-top: 15px;
        margin-left: 60px;
        border-width: 1px;
    }

    /* FOOTER */
    footer {
        width: 100%;
    }
}

/* 500 */
/* MEDIA QUERIES */
@MEDIA (MAX-WIDTH: 500PX) {
    /* MAIN */
    body {
        width: 500px;
        background-color: #E5E5E5;
    }
  
    main {
        display: block;
    }
 
    .para_encriptar {
        margin: 40px 0px 0px 25px;
        width: 100%;
    }
  
    #txt_encriptar{
        width: 65%;
        height: 400px;
        font-size: 15px;
    }
  
    .p_para_encriptar {
        margin-top: 10px;
        margin-left: 90px;
    }

    .buttons {
        margin: 25px 0px 0px 70px;
    }
  
    .buttonED {
        width: 170px;
        height: 35px;
        font-size: 12px;
    }
  
    #desencriptar {
        margin-left: 20px;
    }
  
    .encriptado {
        width: 97%;
        height: 315px;
        margin-left: 25px;
    }
  
    .encriptado img {
        width: 0%;
        margin-top: 0px;
    }
  
    .encriptado .noEncontrado {
        font-size: 25px;
        margin-top: 20px;
    }

    .encriptado .ingreseTexto {
        font-size: 15px;
        margin-top: 20px;
    }

    .pEncriptado {
        width: 90%;
        height: 225px;
        padding-top: 20px;
        font-size: 16px;
    }

    #copiarBtn {
        width: 90%;
        margin-top: 15px;
        margin-left: 25px;
        border-width: 1px;
    }

    /* FOOTER */
    footer {
        width: 100%;
    }
}